{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <title>MidnightVenture - Subscribe to out premium Newsletters</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    <section class="hero__section">
      <div class="news--section">NEWS</div>
      <div class="hero__section--header">
        <!-- <img src="{% static 'images/mv.png' %}" alt="" id="icon"> -->
        <div class="hero__section--header--left">
          <h1 id="intro">The Coffee break.</h1>
          <p id="context">
            "Keep the midnight lamp burning! until you reach your destination"
          </p>
          <div class="hero__section--header--right">
     
            <img src="https://images.pexels.com/photos/842548/pexels-photo-842548.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" id="gcoffee">
          </div>
        </div> 
      </div>

    </section>
    <div class="hero__section--mid">
      <h1 id="smid-head">The real struggle.</h1>
      <div class="comments">
        <div class="card card--1">
          <p id="ctext">
            "Every ping, buzz, and like feels like a siren call, pulling us away
            from deadlines and deep work. Resisting the endless scroll and
            staying present in the task at hand requires constant vigilance."
          </p>
          <p id="user">-a student</p>
        </div>
        <div class="card card--2">
          <p id="ctext">
            Convinced we're superhumans, we attempt to handle everything at
            once. But multitasking actually fragments focus, leading to shoddy
            work and frustration. Learning to prioritize and dedicate focused
            time to each task is key.
          </p>
          <p id="user">-a developer</p>
        </div>
        <div class="card card--3">
          <p id="ctext">
            Social media is a highlight reel, not reality. Comparing our messy
            struggles to curated achievements can fuel imposter syndrome and
            hinder motivation. Remember, everyone's journey is unique, and
            progress rarely looks Instagram-worthy.
          </p>
          <p id="user">-a social media user</p>
        </div>
        <div class="card card--4">
          <p id="ctext">
            Fueling our hustle with endless caffeine might seem necessary, but
            it's a dangerous tightrope walk. The inevitable crash leaves us
            zapped of energy and focus, hindering productivity and creating
            vicious cycles.
          </p>
          <p id="user">-a person spending whole day at his desk</p>
        </div>
        <div class="card card--5">
          <p id="ctext">
            We become masters of self-distraction, finding the most mundane
            tasks suddenly fascinating when faced with a looming deadline.
            Recognizing procrastination for what it is and implementing time
            management strategies are crucial tools.
          </p>
          <p id="user">-a procastinator at work</p>
        </div>
        <div class="card card--6">
          <p id="ctext">
            Burning the midnight oil might feel productive, but sacrificing
            sleep backfires. It impairs cognitive function, memory, and focus,
            ultimately hindering our learning and work performance.
          </p>
          <p id="user">-a person who works a day before the deadline</p>
        </div>
        <div class="card card--7">
          <p id="ctext">
            The competitive landscape can fuel anxiety and self-doubt. We get
            caught up in comparing our progress to others, losing sight of our
            own growth and purpose. Remember, healthy competition motivates, but
            toxic comparison diminishes.
          </p>
          <p id="user">-basically everyone</p>
        </div>
      </div>
    </div>
    <div class="hero__section--bottom">
      <h1 id="smid-head">What can we do about this?</h1>
      <div class="newsletter--signup">
        <div class="text--sup">
          <h1 class="mtext">
            <strong
              >we're are a group of engineers trying to find solutions to major
              problems and we've come up with quite a solution and present it to
              you in the form of a newsletter</strong
            >
            so you donot have to spend all day on the web. You can join it, it
            is <strong>100% free</strong>as we are just starting out!
          </h1>
        </div>
        <div class="sup--form">
          <form action="" class="email-form" method="POST">
            {% csrf_token %} {{form.email}}
            <button type="submit" id="sub-btn">Subscribe</button>
          </form>
          <h1 id="info--text">It's 100% free for first 111 users</h1>
        </div>
      </div>
    </div>
    <div class="footer">
      <h1 id="footer-text">midnightVenture.</h1>
    </div>
  </body>
</html>
